@model CRUD_Web_App.Models.UpdateUser

@{
}

<h3>Update Users</h3>

<form method="post" action="View" class="mt-4">

    <div class="mb-4">
    <label for="Id" class="form-label h6" />
        ID
        <input type="text" class="form-control" id="Id" asp-for="Id" readonly>
    </div>
    <div class="mb-4">
        <label for="Name" class="form-label h6">
            Name
            <input type="text" class="form-control" id="Name" asp-for="Name">
    </div>

    <div class="mb-4">
        <label for="Email" class="form-label h6">
            Email
            <input type="email" class="form-control" id="Email" asp-for="Email">
    </div>

    <div class="mb-4">
        <label for="Salary" class="form-label h6">
            Salary
            <input type="number" class="form-control" id="Salary" asp-for="Salary">
    </div>

    <div class="mb-4">
        <label for="Depart" class="form-label h6">
            Department
            <input type="text" class="form-control" id="Depart" asp-for="Department">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Users">Delete</button>
</form>